name: golangci-lint
on:
  push:
    branches: main
    paths-ignore:
      - "README.md"
      - "docs/**"
  pull_request:
    branches: main
    paths-ignore:
      - "README.md"
      - "docs/**"

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: 1.17

      - name: lint
        uses: golangci/golangci-lint-action@v9
        with:
          args: --timeout=5m
